In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
df=pd.read_csv("HousingData.csv")

In [5]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [6]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [8]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [9]:
df.fillna(df.mean(), inplace=True)

In [10]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [12]:
df.shape

(506, 14)

In [13]:
X=df.drop("MEDV", axis=1)
Y=df["MEDV"]

In [19]:
X_train, X_test, y_train, y_test =train_test_split(X,Y,test_size=0.25, random_state=42)

In [20]:
scaler= StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test= scaler.fit_transform(X_test)

In [23]:
model=LinearRegression()
model.fit(X_train, y_train)
y_pred=model.predict(X_test)

In [24]:
print(y_pred)

[31.72666216 39.82551925 16.20543182 27.0568494  19.79720695 25.16154375
 19.9006721  15.71158245 23.64297197 22.42635909 28.07619169 21.59086244
 -5.03145023 23.91230731 20.37583095 27.35598568 21.02508254  6.65148387
 45.07322878 18.49238641 26.84900092 32.65452547 12.65577907 24.3191089
 18.56580861 16.11129212 23.06872638 16.47670076 25.53187382 20.88892651
 24.53059818 27.03474851 27.88350485 17.37252449 17.79663799 19.16116797
 33.91615514 21.4889022  26.9864835  24.70251613 15.70653298 34.47065867
 47.04894578 19.37351936 29.88880245 17.41601971 15.09715782 28.34984733
 21.20381426 33.22261266 23.7599821  37.22752955 17.4954898  28.02128561
 43.92265474 23.69928938 19.91953145 34.91290889 27.53521735 14.62352599
 24.78936679 33.49853649 33.94781026 17.23069858 22.96458555 19.21957567
 21.61414312 28.16243227 33.17324609 12.91799669 22.92010204 28.47633434
 12.20681649 13.9526016  25.88237935  7.31917135 22.89283527 45.66708382
 20.19580007 10.21059936 22.91122294 14.29004668 23.59954304  9.76069214
 24.73686438 35.67173219 20.73105198 27.42805372 30.78749524 21.0436361
 28.37587183  6.85536286 20.71895844 17.24192852 10.52490239 21.32223552
 25.12479559  0.81641596 15.32324966 18.09893829 24.68131568 26.611791
 11.5885376  20.41971694 25.27405587 14.28754933 19.30645904 27.46670046
 22.309236   26.60284798  9.65747459 22.64766125 23.45043622 29.86757518
 35.3004462  16.22421946 38.67369803 13.98692632 22.47576758 30.88989727
 16.70496108 26.86370139  6.01860911 25.69762281 28.15793203 24.52162241
 27.14638781]

In [28]:
from sklearn.metrics import mean_squared_error, r2_score
mse=mean_squared_error(y_test,y_pred)
r2score= r2_score(y_test, y_pred)
print("Mean squared error is : ", mse )
print("R2 score is: ", r2score)

Mean squared error is :  25.633621870424054
R2 score is:  0.633947344804279

In [30]:
print("Training accuracy is: ")
model.score(X_train, y_train)

Training accuracy is:

0.7378739836922881

In [31]:
print("Testing accuracy is: ")
model.score(X_test, y_test)

Testing accuracy is:

0.633947344804279